
  @media screen and (max-width: 576px) {
    .menus-container {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
    }
  
    .logo {
      margin-left: 20px;
      margin-bottom: 10px;
    }
  
    .menu>ol {
      margin-left: 0;
      flex-direction: column;
      align-items: flex-start;
    }
  
    .follow {
      margin-top: 10px;
      margin-left: 0;
    }
  
    .item {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  
  